div(class='modal hide fade', id='add-product-modal', role='dialog', aria-labelledby='add-product-label')
    div(class='modal-header')
        h3(id='add-product-label')='Добавление товара'
    div(class='modal-body')
        div(class='container-fluid')
            form
                div(class='row-fluid')
                    div(class='span4')
                        label='Артикул:'
                        input(class='span12', type='text', name='article')
                    div(class='span4')
                        label='Приоритет (вес):'
                        input(class='span12', type='text', name='priority')
                    div(class='span4')
                        label(class='control-label')='Цена (розн.):'
                        input(class='span12', type='text', name='price')
                div(class='row-fluid')
                    div(class='span8')
                        label(class='control-label')='Название:'
                        input(class='span12', type='text', name='name')
                    div(class='span4')
                        label(class='control-label')='URL:'
                        input(class='span12', type='text', name='url')
                div(class='row-fluid')
                    div(class='span12')
                        label(class='control-label')='Описание:'
                        textarea(class='span12', rows='5', name='description')
                div(class='row-fluid')
                    div(class='span6')
                        label(class='control-label')='Главная категория:'
                        select(class='span12', type='text', name='main-category')
                            option='Подарки для родителей'
                            option='Сувениры'
                    div(class='span6')
                        label(class='control-label')='Дополнительные категории:'
                        input(class='select2 span12', type='hidden')
    div(class='modal-footer')
        button(id='add-product-btn', class='btn btn-primary')='OK'
        button(class='btn btn-primary', data-dismiss="modal", aria-hidden="true")='Отмена'
