extends layout

block content
    div(class='hero-unit')
        h1='Анализ ассортимента «Улыбашки»'
        p='Последняя синхронизация с сервисом поставщика 23.03.12'
        p
            a(class='btn btn-primary btn-large', href='#progressDlg', role='button', data-toggle='modal')='Синхронизация'

        div(class='modal hide fade', id='progressDlg', tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='myModalLabel')
            div(class='modal-header')
                h3(id='myModalLabel')='Загрузка данных от поставщика'

            div(class='modal-body')
                div(class='progress progress-striped active')
                    div(class='bar', style='width: 100%;')
                span(class='label label-info pull-left')='Общее время: 0:00'
                span(class='label label-success pull-right')='Выполнение операций'

            div(class='modal-footer')
                button(id='dlg-btn', class='btn btn-primary', data-loading-text='Loading...')='OK'

    ul(class='nav nav-tabs')
        li(class='dropdown active')
            a(class='dropdown-toggle', href='#', role='button', data-toggle='dropdown')
                span(class='text')='Новые товары'
                b(class='caret')
            ul(class='dropdown-menu', role='menu')
                li
                    a(id='new-link', class='dropdown-item', tabindex='-1', href='#', data-toggle='tab')='Новые товары'
                li
                    a(id='missing-link', class='dropdown-item', tabindex='-1', href='#', data-toggle='tab')='Нет в наличии у поставщика'
                li
                    a(id='available-link', class='dropdown-item', tabindex='-1', href='#', data-toggle='tab')='Неопубликованные товары'
        li
            a(id='all-link', href='#', data-toggle='tab')='Все товары'
        li
            a(href='#', data-toggle='tab')='Анализ ассортимента'

    table(class='data-table table table-striped table-bordered')
        thead
            tr
                th(width='5%')='Артикул'
                th(width='27%')='Название'
                th(width='10%')='Цена'
                th(width='63%')='Описание'
                th(width='2%')='Наличие'
        tbody
        tfoot
            tr
                th='Артикул'
                th='Название'
                th='Цена'
                th='Описание'
                th='Наличие'
